.one-column-text {
    &.bg-white {
        background-color: #f9f9f9;
        color: #333333; 
    }

    &.bg-gray {
        background-color: #f0f0f0;
        color: #333333; 
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 3rem 1.25rem;
    }

    .column-text {
        h2 {
            text-align: left;
            margin-bottom: 1.25rem;
            font-size: 1.5rem;
        }
    }
@media(min-width: 1024px) {
    h2{
        font-size: 2rem !important;
    }
    
}
}   