.two-column-block {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    border-radius: 5px;

    &.bg-white {
        background-color: #ffffff;
        color: #333333;
    }

    &.bg-gray {
        background-color: #f0f0f0;
        color: #333333;
    }

    .two-column-block-container {
        gap: 2.5rem;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;

        &.flip {
            flex-direction: row-reverse;
        }
    }

    .column {
        padding: 10px;

        &.column-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            text-align: left;
            width: 50%;
            line-height: 1.5rem;

            h2 {
                margin-top: 0;
                margin-bottom: 1.25rem;
                font-size: 1.5rem;
            }

            p {
                font-size: 16px;
            }
        }

        &.column-image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;

            img {
                max-width: 100%;
                height: auto;
                border-radius: 5px;
            }
        }
    }

    @media (min-width: 1024px) {
        .two-column-block-container {
            display: flex;
        }

        .column-text {
            h2 {
                font-size: 2rem !important;
            }
        }
    }
}