/* Base styling for header */
.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

/* Container styling for top navigation */
nav.top-navigation {
  display: flex;
  justify-content: flex-end; /* Aligns items to the end of the container */
  align-items: center;
  padding: 10px 0;
}

/* Styling for the logo and navigation wrapper */
.logo-nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Allows items to wrap to the next line on smaller screens */
}

/* Styling for the nav list */
.nav-list {
  display: flex;
  gap: 20px;
  flex-direction: row; /* Ensures items are in a row */
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Styling for each nav item */

/* Styling for links */
.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

/* Styling for icons */
.nav-icon {
  margin-right: 2px;
  vertical-align: middle;
}

/* Style for the link wrapping the logo */
.site-logo-link {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
}

/* Style for the logo image */
.site-logo-img {
  max-width: 250px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

/* Hover effect for the logo */
.site-logo-link:hover .site-logo-img {
  transform: scale(1.05);
}

/* Styling for footer menu */
.footer-menu {
  text-align: center;
}

/* Styling for the main menu */
#main-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Styling for individual menu items */
#main-menu li {
  margin-left: 20px;
}

/* Styling for menu links */
#main-menu li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

/* Hover effect for menu links */
#main-menu li a:hover {
  color: #af2244;
}

/* Responsive styling */
@media (max-width: 768px) {
  .header {
    padding: 0; /* Reduce padding for smaller screens */
  }
  .logo-nav-wrapper {
    flex-direction: column; /* Stack logo and navigation vertically */
    align-items: center;
    margin-bottom: 10px;
  }

  nav.top-navigation {
    justify-content: flex-end;
    padding: 0;
  }

  .nav-list {
    align-items: center;
  }

  .nav-item {
    margin: 10px 10px; /* Add vertical margin for spacing */
  }

  .site-logo-img {
    max-width: 180px; /* Reduce logo size for smaller screens */
  }
}

@media (max-width: 768px) {
  .nav-link {
    display: none; /* Hides the text */
  }
}

@media (max-width: 480px) {
  .nav-link {
    font-size: 14px; /* Reduce font size for very small screens */
  }

  .nav-item {
    margin: 8px 10px;
  }
}
