.single-college  {
.site-main {
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    
}

article .wp-post-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.entry-title {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.entry-content {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
}

.entry-content p {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.entry-content p:first-child::before {
    font-weight: bold;
    color: #0073aa;
}

.entry-content a {
    color: #0073aa;
    text-decoration: none;
}

.entry-content a:hover {
    text-decoration: underline;
}

.entry-content p:contains("Freedom: Yes") {
    background-color: #dff0d8;
    color: #3c763d;
}

.entry-content p:contains("Freedom: No") {
    background-color: #f2dede;
    color: #a94442;
}

#comments-form p {
    font-size: 14px; 
    color: #666; 
    margin-bottom: 15px; 
    line-height: 1.6; 
    text-align: left; 
    background-color: #f9f9f9; 
    padding: 10px; 
    border-left: 4px solid #ddd; 
    border-radius: 5px; 
}

#comments-form p.comment-form-author,
#comments-form p.comment-form-email,
#comments-form p.comment-form-url,
#comments-form p.comment-form-cookies-consent,
#comments-form .form-submit,
#commentform > p.comment-form-role {
    border-left: none;
    padding: 0;
   
}


}